const { addTailwindCSS } = require("@ngneat/tailwind");

module.exports = (config) => {
  addTailwindCSS(config<% if (enableTailwindInComponentsStyles) { %>, { enableInComponentsStyles: true });<% } else { %>);<% } %>
  return config;
};
