module.exports = (isProd) => ({
    prefix: '',
    purge: {
      enabled: isProd,
      content: ['**/*.html', '**/*.ts']
    },
    theme: {
      extend: {},
    },
    variants: {
      extend: {},
    },
    plugins: [],
});
